.awards_bg {
  background: url(../images/awards_bg2.webp) no-repeat center / cover;

  padding: 40px 0;
  h2 {
    font-size: 60px;
    font-weight: 900;
    color: red;
    text-align: center;
  }
}

.awards {
  $carousel_width: 100%; //custom : in px or vw/vh please!
  $carousel_height: 400px; //custom : in px or vw/vh please!
  $carousel_item_width: 255px; //20%
  $carousel_item_height: 120px;

  padding: 10px 0 50px;
  .carousel {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel-items {
      overflow: hidden;
      position: relative;
      width: $carousel_width;
      height: $carousel_height;

      .carousel-item {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        transition: 200ms;
        width: $carousel_item_width;
        // height: $carousel_item_height;
        // background-color: sandybrown;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          height: auto;
          border-radius: 10px;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .carousel-items-arrow,
    .our_work_button {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #524f4f;

      &:hover {
        background-color: #81d100;
        border: none;
        i {
          color: #fff;
        }
      }

      i {
        font-size: 24px;
        color: #524f4f;
        pointer-events: none;
      }
      cursor: pointer;
      &.arrow-prev {
        left: 44%;
        top: 105%;
      }
      &.arrow-next {
        right: 44%;
        top: 105%;
      }
    }
  }
}

@media (max-width: 425px) {
  .awards_bg h2 {
    font-size: 27px;
    font-weight: 700;
  }

  .awards .carousel .carousel-items-arrow.arrow-next,
  .awards .carousel .our_work_button.arrow-next {
    right: 30%;
  }

  .awards .carousel .carousel-items-arrow.arrow-prev,
  .awards .carousel .our_work_button.arrow-prev {
    left: 30%;
  }
}
