.contact {
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.863);
  text-align: center;

  &__title {
    color: #fff;
    margin-bottom: 10px;
  }

  &__location {
    display: flex;
    width: 20%;
    color: #fff;
    margin: auto;
    margin-bottom: 10px;

    align-items: center;
    justify-content: space-between;
    i {
      font-size: 24px;
      color: red;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
  &__phone {
    display: flex;
    width: 20%;
    color: #fff;
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 24px;
      color: red;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
  &__telegram {
    display: flex;
    width: 20%;
    color: #fff;
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 24px;
      color: red;
    }
  }
}

@media (max-width: 425px) {
  .contact__title {
    font-size: 19px;
  }

  .contact__location {
    width: 60%;

    h4 {
      font-size: 13px;
    }
  }
  .contact__phone {
    width: 40%;

    p {
      font-size: 13px;
    }
  }
  .contact__telegram {
    width: 40%;

    p {
      font-size: 13px;
    }
  }
}
